@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

.app {
  text-align: center;
}

.note {
  position: relative;
  background-color: #25273c;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 545px;
  color: rgb(151, 149, 149);
  border-bottom: 1px solid rgb(70, 69, 69);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  align-items: center;
}

.check {
  display: none;
}

.circle {
  transform: scale(0.6);
  margin: 0;
  text-align: left;
  height: 40px;
  width: 40px;
  border: solid grey 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.circle:onclick {
  background-image: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.check {
  transform: scale(1.5);
}

.filter-bar {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border-bottom: transparent;
}

header {
  background-image: url("../images/bg-desktop-dark.jpg");
  background-size: cover;
  height: 30%;
  width: 100%;
  position: absolute;
  padding: 2rem;
}

.title-bar {
  display: flex;
  width: 530px;
  align-items: center;
  margin: 0 auto;
  padding-top: 4rem;
}
.brand {
  width: 50%;
}

.icon {
  width: 50%;
  color: white;
  text-align: right;
}

h1 {
  color: White;
  letter-spacing: 1rem;
  text-align: left;
}

.search-bar {
  text-align: center;
  padding-top: 10rem;
  margin-bottom: 1rem;
}

.search-field {
  display: flex;
  justify-content: center;
  position: relative;
}

.ser {
  width: 445px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-btn {
  width: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border: transparent;
  background-color: #9f1a46;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #f1f3dd;
}

input {
  position: relative;
  line-height: 40px;
  width: 545px;
  border-radius: 0.3rem;
  padding-left: 20px;
  background-color: #1e1f30;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: transparent;
  color: #f1f3dd;
}

input:focus {
  outline: none;
  color: white;
}

.filter-bar {
  display: flex;
  position: relative;
  background-color: #25273c;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 545px;
  color: rgb(151, 149, 149);
  border-bottom: 1px solid rgb(70, 69, 69);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 13px;
}

.filter-btn {
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  color: rgb(151, 149, 149);
}

.filter-btn:hover {
  color: #9f1a46;
}
