.App {
  text-align: center;
}

.note {
  position: relative;
  background-color: #25273C;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 545px;
  color: rgb(151, 149, 149);
  border: 1px solid rgb(75, 75, 75);
  border-bottom: 0.5 px;
}
