@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

header {
    background-image: url("F:\documents\web-dev\todo-app\src\images\bg-desktop-dark.jpg");
    background-size: cover;
    height: 30%;
    width: 100%;
    position: absolute;
}

h1 {
    color: White;
    letter-spacing: 1rem;
    text-align: center;
    padding: 5rem;
}

.search-bar {
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 1rem;
}

input {
    position: relative;
    line-height: 40px;
    width: 545px;
    border-radius: 0.3rem;
    padding-left: 10px;
    padding-top: 5px;
    background-color: #1E1F30;
    border: 2px solid rgb(75, 75, 75);
    
}